[submodule "external/datetimepicker"]
	path = external/datetimepicker
	url = https://android.googlesource.com/platform/frameworks/opt/datetimepicker
[submodule "external/chips"]
	path = external/chips
	url = https://android.googlesource.com/platform/frameworks/opt/chips
[submodule "external/platforms-frameworks-ex"]
	path = external/platforms-frameworks-ex
	url = https://github.com/minkustree/android-platform-frameworks-ex.git
	branch = feature/android-studio-build
[submodule "external/colorpicker"]
	path = external/colorpicker
	url = https://android.googlesource.com/platform/frameworks/opt/colorpicker
[submodule "external/calendar"]
	path = external/calendar
	url = https://android.googlesource.com/platform/frameworks/opt/calendar/
[submodule "external/timezonepicker"]
	path = external/timezonepicker
	url = https://android.googlesource.com/platform/frameworks/opt/timezonepicker